.App {
  width: 80%;
  margin: auto;
}

li {
  list-style-type: none;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-align-center {
  text-align: center;
}
